:root {
    background-color: rgb(19, 19, 19);
}

/* styles.css */
.parallax-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
  }
  
  .parallax-text {
    position: absolute;
    margin: 0;
    padding: 0;
    left: -15rem;
    top: 5rem;
    font-size: 10rem;
    font-weight: bold;
    color: rgb(231, 231, 231);
  }
  
  .parallax-image {
    position: absolute;
    width: auto; 
    height: 55rem;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  